body {
    margin: 0;
    cursor: default;
    user-select: none;
    overflow-x: hidden;
    background-color: #000;
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
    border-radius: 180px;
    background-color: #660;
}

::-webkit-scrollbar-thumb:hover { background-color: #ee0; }

#main {
    width: 100vw; height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navi_btn { display: none; }

header {
    width: 77%; height: auto;
    color: #fff;
}

header h1 {
    font-size: 70px;
    margin: auto 0 0 0;
    text-align: center;
    font-family: 'Caveat', cursive;
}

#global_navi {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 18px auto;
}

#global_navi ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

#global_navi ul li {
    width: 18%;
    float: left;
    margin-right: 3px;
    text-align: center;
}

#global_navi ul li a {
    padding: 18px;
    color: #fff;
    display: block;
    font-size: 24px;
    border-radius: 18px;
    font-weight: bolder;
    transition: all 0.3s;
    text-decoration: none;
    background-color: #660;
}


#global_navi ul li a:hover {
    color: #fff;
    background-color: #aa0;
}

#global_navi ul li.current a {
    color: #000;
    background-color: #ee0;
}

#wrapper {
    width: 77%; height: auto;
    display: flex;
    color: #fff;
    margin-top: 18px;
    flex-direction: column;
}

#name, #skill, #hobby, #L_locate {
    width: 100%; height: auto;
    border-radius: 18px;
    background-color: #660; 
}

.about_boxes {
    width: 100%; height: auto;
    border-radius: 18px;
    background-color: #660; 
}

.about_boxes h1 { text-align: center; }

.about_boxes p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 18px;
}

#name img {
    width: 34%; height: auto;
    float: left;
    margin: 18px;
    border-radius: 18px;
}

#name_furi {
    text-align: right;
    margin: 0 18px 18px 0;
}


#about { font-size: 24px; }

#bio, #location, #group {
    width: 100%; height: auto;
    display: flex;
    margin-top: 18px;
    flex-direction: row;
}

#locate_past, #school, #birth { margin-right: 9px; }
#locate_current, #work, #blood { margin-left: 9px; }

table {
    width: 100%;
    padding: 3px;
    color: #fff;
    border-spacing: 0;
}

thead {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    background-color: #ee0;
}

tbody {
    font-size: 18px;
    background-color: #333;
}

td {
    padding: 7px 18px;
    border-right: 1px solid #770;
    border-bottom: 1px solid #770;
}

td:first-child {
    text-align: center;
    border-left: 1px solid #770;
}

thead td { border-radius: 18px 18px 0 0; }
tbody tr:last-child td:last-child { border-radius: 0 0 18px 0; }
tbody tr:last-child td:first-child { border-radius: 0 0 0 18px; }
#skill h1, #hobby h1, #L_locate h1 { text-align: center; }

ul {
    font-size: 24px;
    margin-left: 10%;
}

#L_locate p { font-size: 24px; }
#hobby, #L_locate, table { margin-top: 18px; }

#L_locate img {
    width: 90%; height: auto;
    border-radius: 18px;
}

#Wmain { width: 100%; }
#Wmain p { font-size: 18px; }
#pdf { width: 90%; height: 700px; }

#danger {
    color: #a33;
    font-weight: bolder;
}

#webapp_btn {
    width: 180px; height: 70px;
    color: #fff;
    font-size: 24px;
    border-radius: 18px;
    font-weight: bolder;
    transition: all 0.3s;
    background-color: #aa0;
}

#webapp_btn:hover {
    color: #000;
    background-color: #ff0;
}

footer {
    width: 100%; height: auto;
    margin-top: 18px;
    text-align: center;
    background-color: #333;
}

footer #footer_nav {
    padding: 10px 0;
    background-color: #151515;
}

footer #footer_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer #footer_nav li {
    display: inline;
    margin-left: 7px;
    padding-left: 7px;
    font-size: smaller;
}

footer #footer_nav li:last-child { padding: 0 7px; }

footer #footer_nav li a {
    color: #fff;
    padding: 3px 18px;
    border-radius: 18px;
    text-decoration: none;
    background-color: #660;
    transition: background-color 0.3s;
}

footer #footer_nav li a:hover {
    color: #000;
    background-color: #ff0;
}

footer small {
    color: #eee;
    text-align: center;
}

@media screen and (max-width: 700px) {
    header h1 {
        font-size: 8vw;
        margin-top: 18px;
    }

    #navi_btn {
        top: 0; left: 0;
        width: 50px; height: 50px;
        margin: 0;
        display: flex;
        z-index: 9999;
        color: #000;
        font-size: 300%;
        position: fixed;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        background-color: #ee0;
    }

    #navi_btn::before { content: '≡'; }
    #navi_btn.show::before { content: '×'; }

    #global_navi {
        top: 0; left: 0;
        width: 70vw; height: 100vh;
        display: flex;
        position: fixed;
        animation: hide 0.3s cubic-bezier(0, 0, 0, 1) forwards;
    }

    #global_navi.show {
        margin: 0;
        z-index: 9998;
        background-color: #333;
        box-shadow: 30vw 0 0 #000a;
        animation: show 0.3s cubic-bezier(0, 0, 0, 1) forwards;
    }

    @keyframes show {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes hide {
        from { opacity: 1; }
        to {
            opacity: 0;
            display: none;
        }
    }

    #global_navi ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: normal;
    }

    #global_navi ul li {
        width: 100%;
        float: none;
        margin-bottom: 3px;
    }

    #global_navi ul li:first-child { margin-top: 53px; }

    #global_navi ul li a {
        padding: 7px;
        color: #fff;
        display: flex;
        font-size: 24px;
        border-radius: 0;
        font-weight: bolder;
        text-decoration: none;
        background-color: #0000;
        border-bottom: #fff solid 2px;
    }

    #wrapper { width: 95%; }

    #name img {
        width: 90%;
        float: none;
    }

    #name h1, #name p { margin-left: 18px; }
    #name p { font-size: 18px; }

    .about_boxes h1 {
        font-size: 20px;
        text-align: center;
    }

    .about_boxes p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 18px;
    }

    table { width: 100%; }

    td {
        display: block;
        text-align: center;
    }

    tbody td:first-child { text-align: center; }

    tbody td:first-child {
        color: #fff;
        font-weight: bolder;
        background-color: #770;
    }

    thead td,
    tbody tr:last-child td:last-child,
    tbody tr:last-child td:first-child {
        border: none;
        border-radius: 0;
    }

    #skill h1, #hobby h1, #L_locate h1 { font-size: 24px; }

    ul {
        font-size: 18px;
        margin-left: 10%;
    }
    
    #L_locate p { font-size: 18px; }
    #footer_nav { display: none; }
}
